
//changes



//personal Sass files, to make changes in the template of Bootstrap

#logo-site{
  width: 10vh;
}

#main-image{
  max-width: 55%;
  justify-content: center;
}

//images in the section


.customers-img{
  width: 100%;
}

.texto-de-inicio{
  font-size: 1.5em;
}


//form selection
.form-group small{
visibility: hidden;
}

.form-group.success input{
border-color: #2ecc71;
border-width: 2px;
}

.form-group.error input{
  border-color: red;
  border-width: 1px;
  }

//media query for md

@media only screen and (min-width: 768px){
  .services-text{
    transform: translate(-200px,150px);
  }

  .customers-text{
    transform: translate(200px,150px);
  }

  .texto-de-inicio{
    font-size: 32px;
  }
}
